<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
		-->
		<!-- This is the web service URI DO NOT CHANGE -->
		<add key="WebServiceURI" value="https://www.abaqis.com/stagei/mds30_composite_file" />
		<!-- This is the email notification address DO NOT CHANGE -->
		<add key="WebServiceNotificationEmail" value="support@abaqis.com" />
		<!-- Default the Account ID for the application -->
		<add key="AccountId" value="" />
		<!-- Default the web service password for the application. -->
		<!-- NOTE: unless this file is located in a secure area, it probably
             isn't a good idea to default the password. -->
		<!-- NOTE: This file is under source control. You should not set the password
		   	 here and check it in. You would risk having others with access to your
			 source repository having access to your password. -->
		<add key="AccountPassword" value="" />
		<!-- Default the location of the MDS file folder to use -->
		<add key="MDSFolder" value="" />
 	</appSettings>
</configuration>
